button:hover{
  
    background-color: rgb(245, 141, 141);

}

button{
    font-size: 20px;
    margin: 20px;
    width: 100px;
    height: 35px;
    border-radius: 95px;
}

/* button{
    color: white;
} */


/* body {
    background-color: rgb(175, 175, 253);
  } */